<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Roffl{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
</head>

<body>
    <!-- Taskleiste -->
    <div class="top_panel">
        <a href="{{ url_for('Mainpage') }}">
            <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Roffl Logo">
        </a>

        <div class="page-title">
            {{ title }}
        </div>

        <div class="right-space"></div>

        <!-- rechtsgruppierung -->
        <div class="top_actions">
            {% if session.logged_in %}
                <a class="prlink" href="#" id="user_dropdown">{{ session.username }}</a>
                <div id="dropdown_menu" class="dropdown-menu">
                    <a href="/create">Create</a>
                    <a href="/statistics">Statistics</a>
                    <a href="/logout">Logout</a>
                </div>
            {% else %}
                <a class="prlink" href="{{ url_for('signup') }}">Sign Up</a>
                <a class="prlink" href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>

    </div>

    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>